#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Local t-doc server
Type=Application
GenericName=Start a local t-doc server
Comment=
Icon=document-preview
Exec=cd "$(dirname "%k")" && ./run.py
Path=
Terminal=true
StartupNotify=false
